<div class="container">
    <form class="form-horizontal" [formGroup]="addForm" novalidate>
        <div class="form-group row">
            <label for="base1" class="col-2 col-form-label">Data</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-addon" (click)="d.toggle()">
                        <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                    </div>
                    <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="datePicker(date)">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="base1" class="col-2 col-form-label">Prato Base 1</label>
            <div class="col-8">
                <input class="form-control" type="text" formControlName="base1">
            </div>
        </div>
        <div class="form-group row">
            <label for="base2" class="col-2 col-form-label">Prato Base 2</label>
            <div class="col-8">
                <input class="form-control" type="text" formControlName="base2">
            </div>
        </div>
        <div class="form-group row">
            <label for="principal" class="col-2 col-form-label">Prato Principal </label>
            <div class="col-8">
                <input class="form-control" type="text" formControlName="principal">
            </div>
        </div>
        <div class="form-group row">
            <label for="veg" class="col-2 col-form-label">Vegetariano</label>
            <div class="col-8">
                <input class="form-control" type="text" formControlName="veg">
            </div>
        </div>
        <div class="form-group row">
            <label for="guarnicao" class="col-2 col-form-label">Guarnição</label>
            <div class="col-8">
                <input class="form-control" type="text" formControlName="guarnicao">
            </div>
        </div>
        <div class="form-group row">
            <label for="salada1" class="col-2 col-form-label">Salada 1</label>
            <div class="col-8">
                <input class="form-control" type="text" formControlName="salada1">
            </div>
        </div>
        <div class="form-group row">
            <label for="salada2" class="col-2 col-form-label">Salada 2</label>
            <div class="col-8">
                <input class="form-control" type="text" formControlName="salada2">
            </div>
        </div>
        <div class="form-group row">
            <label for="sobremesa" class="col-2 col-form-label">Sobremesa</label>
            <div class="col-8">
                <input class="form-control" type="text" formControlName="sobremesa">
            </div>
        </div>
        <div class="form-group row">
            <label for="suco" class="col-2 col-form-label">Suco</label>
            <div class="col-8">
                <input class="form-control" type="text" formControlName="suco">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p *ngIf="submitAttempt && formError" style="color: #ea6153;">{{ formError }}</p>
                <button type="submit" class="btn btn-default" (click)="register()">Registrar</button>
            </div>
        </div>
    </form>

    <pre>{{ addForm.value | json }}</pre>
</div>