<h1>cardapio-detail</h1>

<p>
    <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
</p>
<p>
    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
</p>
<p>
    <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
</p>
<p>
    <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
</p>

<ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
<hr>
<pre>Selected time: {{time | json}}</pre>

<p>Simple datepicker</p>

<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

<hr/>

<button class="btn btn-sm btn-outline-primary" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>

<hr/>

<pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre>