<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">ru-admin</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" routerLink="/cardapio">Adicionar Refeição</a></li>
            <li><a class="nav-link" routerLink="/detail">Ver Refeição:</a></li>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="gotoDate(model)">
                <div class="input-group-addon" (click)="d.toggle()">
                    <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                </div>
            </form>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" routerLink="/estatisticas">Estatísticas</a></li>
            <li><a class="nav-link" routerLink="/login">Login</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>